
/* Your CSS Code here. */
body {
    margin: 28px;
    border: 15px solid blue;
}
.text{
	width:300px;
background-color:rgb(173, 216, 230);
}
p {
    /* background-color: lightblue; */
    color: lightblue;
    width: 300px;
    padding: 58px;
}